Source: zimbra-mta
Section: mail
Priority: optional
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Maintainer: Enrico Weigelt, metux IT consult <info@metux.net>
Uploaders: Enrico Weigelt, metux IT consult <info@metux.net>

Package: zimbra-mta
Section: mail
Priority: optional
Architecture: any
Depends: zimbra-core, zimbra-mta-components, zimbra-amavis, ${shlibs:Depends}, ${misc:Depends}
Description: LibreZimbra postfix config
